@media all{
    body{margin:0;}
    aside,footer,header,nav,section{display:block;}
    a{background-color:transparent;}
    a:active{outline:0;}
    a:hover{outline:0;}
    h1{font-size:2em;margin:0.67em 0;}
    small{font-size:80%;}
    img{border:0;}
    svg:not(:root){overflow:hidden;}
    hr{box-sizing:content-box;height:0;}
    button,input{color:inherit;font:inherit;margin:0;}
    button{overflow:visible;}
    button{text-transform:none;}
    button{-webkit-appearance:button;cursor:pointer;}
    button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
    input{line-height:normal;}
    @media print{
        *,*::before,*::after{text-shadow:none!important;box-shadow:none!important;}
        a,a:visited{text-decoration:underline;}
        img{page-break-inside:avoid;}
        img{max-width:100%!important;}
        p,h2,h3{orphans:3;widows:3;}
        h2,h3{page-break-after:avoid;}
    }
    *,*::before,*::after{box-sizing:inherit;}
    body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:1rem;line-height:1.5;color:#373a3c;background-color:#fff;}
    h1,h2,h3,h4{margin-top:0;margin-bottom:.5rem;}
    p{margin-top:0;margin-bottom:1rem;}
    ul{margin-top:0;margin-bottom:1rem;}
    a{color:#0275d8;text-decoration:none;}
    a:focus,a:hover{color:#014c8c;text-decoration:underline;}
    a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
    img{vertical-align:middle;}
    [role="button"]{cursor:pointer;}
    a,button,[role="button"],input{touch-action:manipulation;}
    button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
    input,button{margin:0;line-height:inherit;border-radius:0;}
    h1,h2,h3,h4{margin-bottom:.5rem;font-family:inherit;line-height:1.1;color:inherit;}
    h1{font-size:2.5rem;}
    h2{font-size:2rem;}
    h3{font-size:1.75rem;}
    h4{font-size:1.5rem;}
    hr{margin-top:1rem;margin-bottom:1rem;border:0;border-top:1px solid rgba(0,0,0,0.1);}
    small{font-size:80%;font-weight:normal;}
    .container{margin-left:auto;margin-right:auto;padding-left:.9375rem;padding-right:.9375rem;}
    .container::after{content:"";display:table;clear:both;}
    @media (min-width: 544px){
        .container{max-width:576px;}
    }
    @media (min-width: 768px){
        .container{max-width:720px;}
    }
    @media (min-width: 992px){
        .container{max-width:940px;}
    }
    @media (min-width: 1200px){
        .container{max-width:1140px;}
    }
    .row{margin-left:-.9375rem;margin-right:-.9375rem;}
    .row::after{content:"";display:table;clear:both;}
    .col-md-5,.col-md-6{position:relative;min-height:1px;padding-left:.9375rem;padding-right:.9375rem;}
    @media (min-width: 768px){
        .col-md-5,.col-md-6{float:left;}
        .col-md-5{width:41.66667%;}
        .col-md-6{width:50%;}
        .col-md-offset-1{margin-left:8.33333%;}
    }
    h1{margin:.25em 0;padding:0;font-size:60px;font-weight:100;color:#2b2b2b;cursor:default;}
    @media only screen and (min-width: 480px) and (max-width: 860px){
        h1{font-size:3em;}
    }
    @media only screen and (min-width: 0px) and (max-width: 479px){
        h1{font-weight:300;font-size:2em;}
    }
    h2{margin:.25em 0;padding:0;font-size:60px;font-weight:100;color:#2b2b2b;cursor:default;}
    h3{font-size:24px;font-weight:300;color:#2b2b2b;cursor:default;}
    h2:first-of-type,h3:first-of-type{margin-top:0;}
    h4{font-size:18px;font-weight:600;color:#2b2b2b;cursor:default;}
    a{text-decoration:none;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease;color:#0f97f9;}
    a:hover{text-decoration:underline;color:#08c;}
    a:focus{outline:none;}
    p{margin:0 0 1.5em 0;}
    #wrapper{position:relative;width:100%;height:100%;-webkit-transition:all 0.2s ease;-moz-transition:all 0.2s ease;transition:all 0.2s ease;}
    #wrapper a{-webkit-transition:all 0.2s ease;-moz-transition:all 0.2s ease;transition:all 0.2s ease;}
    #wrapper>header{position:relative;background-color:#fff;background-repeat:no-repeat;background-position:50%;background-size:cover;}
    @media only screen and (min-width: 480px) and (max-width: 860px){
        #wrapper>header{height:auto!important;}
    }
    @media only screen and (min-width: 861px) and (max-width: 1380px){
        .container{padding-left:80px;padding-right:80px;}
    }
    @media only screen and (min-width: 480px) and (max-width: 860px){
        .container{top:0;}
    }
    @media only screen and (min-width: 0px) and (max-width: 479px){
        .container{padding-left:15px;padding-right:15px;}
    }
    #wrapper>header h1{margin:10px 0 30px 0;padding:0;line-height:1;font-size:2.28em;font-weight:100;opacity:0;opacity:1\9;-webkit-animation:fadein .6s .5s 1 forwards ease-in;-moz-animation:fadein .6s .5s 1 forwards ease-in;-ms-animation:fadein .6s .5s 1 forwards ease-in;-o-animation:fadein .6s .5s 1 forwards ease-in;animation:fadein .6s .5s 1 forwards ease-in;color:#fff;cursor:default;}
    @media only screen and (min-width: 480px) and (max-width: 860px){
        #wrapper>header h1{font-size:2em;line-height:1.1em;}
    }
    @media only screen and (min-width: 0px) and (max-width: 479px){
        #wrapper>header h1{max-width:80%;margin-left:auto;margin-right:auto;margin-bottom:.25em;font-size:1em;}
    }
    #wrapper>footer{background:#fafafa;border-top:1px solid #dcdad4;padding:40px 0;color:#999;}
    @media only screen and (min-width: 480px) and (max-width: 860px){
        #wrapper>footer{padding-bottom:5em;}
    }
    @media only screen and (min-width: 0px) and (max-width: 479px){
        #wrapper>footer{padding:20px 20px 60px;text-align:center;}
    }
    #wrapper>footer h4{text-transform:uppercase;font-weight:500;font-size:14px;color:#5f5f5f;}
    #wrapper>footer a{color:#626262;}
    #wrapper>footer a:hover{text-decoration:underline;color:#333;}
    body{height:100%;}
    body{position:relative;background:#fff;margin:0;padding:71px 0 0;font-size:14px;font-weight:300;font-style:normal;color:#7b8084;}
    @media only screen and (min-width: 0px) and (max-width: 479px){
        body{padding-top:0;}
    }
    *,*:after,*::before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-rendering:optimizeLegibility;outline:none;zoom:1;}
    section{position:relative;border-bottom:1px solid rgba(0,0,0,0.1);padding:80px 0;font-size:18px;line-height:1.6em;}
    section:last-of-type{border:none;padding-bottom:6em;}
    section h1{margin:0 0 40px;}
    section h2{margin:0 0 40px;}
    .container{max-width:1270px;width:100%;padding-left:10px;padding-right:10px;}
    @media only screen and (min-width: 861px) and (max-width: 1380px){
        .container{padding-left:80px;padding-right:80px;}
    }
    @media only screen and (min-width: 480px) and (max-width: 860px){
        body{padding:0;color:#565656;}
        .container{padding-left:80px;padding-right:80px;}
        section h2{font-size:3em;}
        section h3{font-size:1.4em;}
    }
    @media only screen and (min-width: 0px) and (max-width: 479px){
        section{padding:40px 0;font-size:1em;}
        section h2{font-weight:300;font-size:2em;}
        section h2+p{font-size:16px;}
        section h3{font-size:1.2em;}
    }
    @media print{
        #wrapper>header{height:auto;min-height:12em;}
        #wrapper>header h1{font-size:1.5em;}
        h2{font-size:1.25em;}
        h3{font-size:1.1em;}
        h4{font-size:1em;}
    }
    h4{font-weight:500;color:#2b2b2b;}
    ul li{list-style-type:disc;}
    hr{margin:25px 0;border-color:#dad7d0;}
    .title{position:relative;border-bottom:1px solid #666;padding-bottom:8px;margin-bottom:20px;}
    small{font-size:14px;line-height:1.4em;}
}

h1{margin:.25em 0;padding:0;font-size:60px;font-weight:100;color:#2b2b2b;cursor:default;}
@media only screen and (min-width: 480px) and (max-width: 860px){
    h1{font-size:3em;}
}
@media only screen and (min-width: 0px) and (max-width: 479px){
    h1{font-weight:300;font-size:2em;}
}
h2{margin:.25em 0;padding:0;font-family:'Montserrat', sans-serif!important;font-weight:400;font-size:48px!important;color:#333;cursor:default;}
h3{font-display:swap;font-family:'Montserrat', sans-serif!important;font-size:24px;font-weight:300;color:#333;cursor:default;}
h2:first-of-type,h3:first-of-type{margin-top:0;}
h4{font-display:swap;font-family:'Montserrat', sans-serif!important;font-size:18px;font-weight:600;color:#333;cursor:default;}
a{text-decoration:none;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease;color:#0f97f9;}
a:hover{text-decoration:underline;color:#08c;}
a:focus{outline:none;}
p{margin:0 0 1.5em 0;}
#wrapper{position:relative;width:100%;height:100%;z-index:0;-webkit-transition:all 0.2s ease;-moz-transition:all 0.2s ease;transition:all 0.2s ease;}
#wrapper a{-webkit-transition:all 0.2s ease;-moz-transition:all 0.2s ease;transition:all 0.2s ease;}
.sitenav{--textLinkColor:#1E1F44;position:absolute;top:0;left:0;right:0;padding:0 70px;z-index:1;}
.sitenav__container{position:relative;width:100%;max-width:1270px;padding:0 10px;margin:0 auto;}
.sitenav__content{display:flex;justify-content:flex-end;align-items:center;padding:20px 0;font-size:16px;}
.sitenav__logo{display:inline-block;width:125px;height:24px;background-image:url("wzlmlog.svg");background-repeat:no-repeat;background-size:125px 24px;background-position:0 0;text-indent:-10em;margin-right:auto;overflow:hidden;transition:none;cursor:pointer;}
.sitenav__menu-link{position:relative;display:inline-block;margin:0 10px;font-weight:500;color:var(--textLinkColor);transition:all 0.3s ease;}
.sitenav__menu-link:hover,.sitenav__menu-link:focus{text-decoration:none;color:var(--textLinkColor);}
.sitenav__menu-link:after{content:"";display:block;position:absolute;bottom:-5px;left:-2px;right:-2px;height:2px;background:var(--textLinkColor);transform:scaleX(0);transition:0.2s;}
.sitenav__menu-link:hover:after{transform:scaleX(1);}
.sitenav__button{display:inline-block;background:none;border:2px solid var(--textLinkColor);border-radius:32px;padding:.35em 1.5em;margin-left:20px;text-decoration:none;font-weight:500;color:var(--textLinkColor);cursor:pointer;transition:0.2s;}
.sitenav__button:hover{background:var(--textLinkColor);border-color:var(--textLinkColor);text-decoration:none;color:#fff;}
.sitenav__toggle{-webkit-appearance:none;border:0;padding:0;user-select:none;outline:none;background:none;grid-column:3;grid-row:2;align-self:center;justify-self:center;width:50px;height:50px;display:flex;justify-content:center;align-items:center;display:none;}
.sitenav__toggle:focus{outline:none;}
.sitenav__toggle-burger,.sitenav__toggle-burger:before,.sitenav__toggle-burger:after{display:block;width:28px;height:2px;background:#1E1F44;transition:0.2s;}
.sitenav__toggle-burger:before,.sitenav__toggle-burger:after{content:"";}
.sitenav__toggle-burger:before{transform:translateY(8px);}
.sitenav__toggle-burger:after{transform:translateY(-10px);}
.sitenav__toggle-text{clip:rect(1px, 1px, 1px, 1px);position:absolute!important;height:1px;width:1px;overflow:hidden;}
@media only screen and (max-width: 691px){
    .sitenav{padding:0;}
    .sitenav__toggle{display:inline-block;}
    .sitenav__content{position:relative;overflow:hidden;min-height:50px;}
    .sitenav__logo{position:absolute;top:20px;left:10px;background-image:url("wzlmlog.svg")!important;}
    .sitenav__toggle{position:absolute;top:5px;right:-15px;cursor:pointer;}
    .sitenav__menu,.sitenav__button{display:none;}
    .sitenav__menu-link{padding:10px;color:var(--textLinkColor)!important;}
}
body #wrapper>header{padding-top:80px;}
@media only screen and (min-width: 0px) and (max-width: 479px){
    body #wrapper>header{padding-top:0;}
}
#wrapper>header{position:relative;background-color:#fff;background-repeat:no-repeat;background-size:cover;min-height:360px;font-display:swap;font-family:'Montserrat', sans-serif;font-weight:400;}
@media only screen and (min-width: 480px) and (max-width: 860px){
    #wrapper>header{height:auto!important;}
}
@media only screen and (min-width: 861px) and (max-width: 1380px){
    .container{padding-left:80px;padding-right:80px;}
}
@media only screen and (min-width: 480px) and (max-width: 860px){
    .container{top:0;}
}
@media only screen and (min-width: 0px) and (max-width: 479px){
    .container{padding-left:15px;padding-right:15px;}
}
#wrapper>header h1{margin:10px 0 30px 0;padding:0;line-height:1;font-weight:300!important;opacity:0;opacity:1\9;-webkit-animation:fadein .6s .8s 1 forwards ease-out!important;-moz-animation:fadein .6s .8s 1 forwards ease-out!important;-ms-animation:fadein .6s .8s 1 forwards ease-out!important;-o-animation:fadein .6s .8s 1 forwards ease-out!important;animation:fadein .6s .8s 1 forwards ease-out!important;color:#fff;cursor:default;}
@media only screen and (min-width: 480px) and (max-width: 860px){
    #wrapper>header h1{font-size:2em;line-height:1.1em;}
}
@media only screen and (min-width: 0px) and (max-width: 479px){
    #wrapper>header h1{max-width:80%;margin-left:auto;margin-right:auto;margin-bottom:.25em;font-size:32px!important;}
}
.footer{background:#fff!important;border:none!important;padding:8em 70px 4em 70px!important;}
.footer__container{max-width:1250px;margin:0 auto;display:grid;grid-template-columns:repeat(4, 1fr);grid-gap:20px;}
.footer__title{grid-column:1 / -1;text-transform:uppercase;margin:0;padding:0 0 .5rem 0;font-size:.9rem;font-weight:700!important;color:#5f5f5f;cursor:default;}
.footer__link{display:block;padding:0 0 .5rem 0;text-decoration:none;font-size:.9rem;color:#999;}
.footer__link:hover,.footer__link:focus,.footer__copyright-link:hover,.footer__copyright-link:focus{text-decoration:underline;color:#5f5f5f;}
.footer__copyright{max-width:1250px;margin:4rem auto 0 auto;font-size:.9rem;color:#999;}
.footer__copyright-link{display:inline-block;text-decoration:none;color:#999;}
.footer__copyright-p{margin:0;padding:0 0 .5rem 0;}
.footer__copyright-small{display:block;padding:.5rem 0;opacity:.8;cursor:default;}
@media (max-width: 900px){
    .footer{padding-left:60px!important;padding-right:60px!important;}
    .footer__container{grid-template-columns:repeat(2, 1fr);}
}
@media (max-width: 425px){
    .footer{padding:6em 20px!important;}
    .footer__container{grid-template-columns:1fr;}
    .footer__copyright{margin-top:3rem;}
    .footer__link{display:inline-block;padding:0;margin:0 10px 8px 0;line-height:1;color:#999!important;}
    .footer__copyright-link{font-size:.9rem;color:#999!important;}
    #teconsent{margin-bottom:3rem;}
    #teconsent a{color:#999!important;}
}
.footer-atLogo{display:block;position:absolute;left:50%;width:120px;height:120px;margin-top:-92px;z-index:9;transform:translateX(-50%);}
.footer-atLogo svg{user-select:none;}
.footer-atLogo:hover{background-position:0 -140px;cursor:default;}
body{height:100%;}
body{position:relative;background:#fff;margin:0;padding:0!important;font-family:"Montserrat","helvetica neue",helvetica,arial,sans-serif!important;font-size:14px;font-weight:300;font-style:normal;color:#7b8084;}
@media only screen and (min-width: 0px) and (max-width: 479px){
    body{padding-top:0;}
}
*,*:after,*::before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-rendering:optimizeLegibility;outline:none;zoom:1;}
section{position:relative;border-bottom:1px solid rgba(0,0,0,0.05);padding:80px 0;font-size:18px;line-height:1.6em;}
section:last-of-type{border:none;padding-bottom:6em;}
section h1{margin:0 0 40px;font-weight:400;}
section h2{margin:0 0 40px;font-weight:400;}
.topLeftRounded{position:absolute;margin-top:-100px;z-index:9;left:0;}
.topLeftRounded path{fill:#fff;stroke:#fff;}
.bottomRightRounded{position:absolute;z-index:9;transform:rotate(180deg);margin-top:-1px;}
.bottomRightRounded path{fill:#fff;stroke:#fff;}
.container{max-width:1270px;width:100%;padding-left:10px;padding-right:10px;}
ul{margin-bottom:2rem;}
@media only screen and (min-width: 861px) and (max-width: 1380px){
    .container{padding-left:80px;padding-right:80px;}
}
@media only screen and (min-width: 480px) and (max-width: 860px){
    body{padding:0;color:#565656;}
    .container{padding-left:80px;padding-right:80px;}
    section h2{font-size:3em;}
    section h3{font-size:1.4em;}
}
@media only screen and (min-width: 0px) and (max-width: 479px){
    section{padding:40px 0;font-size:1em;}
    section h2{font-weight:300;font-size:2em;}
    section h2+p{font-size:16px;}
    section h3{font-size:1.2em;}
}
@media print{
    #wrapper>header{height:auto;min-height:12em;}
    #wrapper>header h1{font-size:1.5em;}
    h2{font-size:1.25em;}
    h3{font-size:1.1em;}
    h4{font-size:1em;}
}
button::-moz-focus-inner{padding:0;border:0;}
.ratio-container{position:relative;}
.ratio-container:after{content:'';display:block;height:0;width:100%;padding-bottom:50%;}
.ratio-container>*{position:absolute;top:0;left:0;width:auto;height:auto;display:block;}
.lazyloaded{opacity:1;transition:opacity 300ms;}
#wrapper>header{background-repeat:no-repeat;background-size:contain;min-height:480px;}
#wrapper>header h1{max-width:100%;}
body{background:#fff;font-family:'Montserrat', sans-serif!important;}
#wrapper>header{padding-top:0;}
#wrapper>header h1{margin:.75em 0 .5em;font-weight:700!important;font-size:4rem!important;line-height:4rem!important;}
#wrapper>header p{font-size:24px;letter-spacing:normal!important;}
@media only screen and (min-width: 0px) and (max-width: 479px){
    #wrapper>header{position:relative;top:-20px;}
    #wrapper>header .hero__container{width:100%;padding:30px 20px 0;}
    #wrapper>header h1{font-size:3rem!important;margin:0 0 0.5em!important;line-height:3rem!important;}
}
@media only screen and (min-width: 480px) and (max-width: 860px){
    #wrapper>header .hero__container{width:80%;}
}
@media only screen and (max-width: 379px) and (min-width: 0px){
    #wrapper>header .hero__content-cta-links .cta-link:nth-child(1){display:block;margin:-15px 0 10px 0;width:100%;}
}
.container:after{display:none;}
header h1,header p{line-height:1.2!important;}
.free-tools{margin:60px auto 0;width:100%;padding:0 30px 60px;border-bottom:none;}
.free-tools .container{max-width:1000px;}
.free-tools h1{font-size:54px!important;font-weight:700!important;}
@media only screen and (min-width: 0px) and (max-width: 479px), only screen and (min-width: 480px) and (max-width: 860px){
    .free-tools .ratio-container{min-height:180px;}
}
@media only screen and (min-width: 480px) and (max-width: 860px){
    .free-tools{margin-top:0;padding-left:20px;padding-right:20px;}
}
@media only screen and (min-width: 0px) and (max-width: 479px){
    .free-tools{margin-top:20px;padding-left:10px;padding-right:10px;padding-bottom:0!important;}
}
.intro-text h1,.intro-text p{text-align:center;color:#1E1F44;}
.intro-text h1{margin-bottom:20px;}
@media only screen and (min-width: 0px) and (max-width: 479px){
    .intro-text p{margin:0 0 10px;}
}
@media only screen and (min-width: 0px) and (max-width: 860px){
    .intro-text h1{font-size:48px!important;text-align:left!important;}
    .intro-text p{font-size:16px!important;text-align:left!important;}
}
.tool-list{margin:50px auto;width:100%;position:relative;}
@media only screen and (min-width: 480px) and (max-width: 860px){
    .tool-list{margin-top:0;}
}
.tool-list ul li,.tool-list .module h2{font-weight:700;}
.tool-list .tool-modules{z-index:1;margin-top:30px;padding-right:0;}
@media only screen and (min-width: 0px) and (max-width: 860px){
    .tool-list .tool-modules{width:100%;margin-top:0;}
}
@media (max-width: 1005px){
    .tool-list .tool-modules{padding-left:0;}
}
.tool-list .tool-tabs{margin-top:15px;padding-right:0;display:none;}
.tool-list .tool-tabs:after{content:'';background:#fff;transform:rotate(10deg);height:400px;width:150px;left:80%;top:0;border-left:2px solid #B1B2F0;position:absolute;}
.tool-list .tool-tabs a:focus{text-decoration:none;}
.tool-list li{max-width:440px;position:relative;border-radius:50px 0 0 50px;list-style-type:none;transition:all .2s ease;}
.tool-list li a{padding:15px 7px;font-size:15px;color:#1E1F44;}
.tool-list li a:before{transition:all .2s ease;}
@media (max-width: 1005px){
    .tool-list li a{padding:15px 15px 15px 10px;font-size:16px;}
}
.tool-list li path{transition:all .2s ease;}
.tool-list li.active{background-color:#EBECFB;}
.tool-list li.active a{color:#0088f7;text-decoration:none;}
.tool-list li.active:before{background-color:#0088f7;}
.tool-list li.active:hover path{fill:#fff;}
.tool-list li.active path{fill:#fff;}
.tool-list li:hover{cursor:pointer;}
.tool-list li:hover a{color:#0088f7;text-decoration:none;}
.tool-list li:hover path{fill:#0088f7;}
.tool-list li:before{content:'';background-color:#fff;background-repeat:no-repeat;background-position:center;height:70px;width:70px;border-radius:50px;display:inline-block;vertical-align:middle;}
.tool-list li svg{width:70px;top:20px;left:0;position:absolute;opacity:1;}
.tool-list .module{width:90%;}
.tool-list .module h2{font-size:2em!important;margin:25px 0 10px;}
.tool-list .module p{color:#1E1F44;}
@media only screen and (min-width: 0px) and (max-width: 860px){
    .tool-list .module{margin:30px auto;width:100%;max-width:300px;border-bottom:2px solid #B1B2F0;}
    .tool-list .module:last-child{border-bottom:none;}
    .tool-list .module img{width:100%;}
}
@media only screen and (min-width: 861px){
    .tool-list .tool-tabs{display:block!important;}
    .tool-list .module{display:none;max-width:350px;}
    .tool-list .module h2{font-size:1.5em!important;}
    .tool-list .show{display:block!important;}
}
.tool-list .links{margin-bottom:40px;font-size:16px;}
.tool-list .activate-link{background-image:linear-gradient(45deg, #3D41DA 0%, #0088F7 100%);color:#fff;text-shadow:0 1px 1px rgba(30,31,68,0.5);border-radius:50px;padding:15px 20px;margin-right:15px;}
.tool-list .activate-link:hover{background-image:linear-gradient(-45deg, #3D41DA 0%, #0088F7 100%);text-decoration:none;}
@media (max-width: 1005px){
    .tool-list .activate-link{margin-right:10px;}
}
.tool-list .learn-link{color:#3D41DA;}
@media (max-width: 944px){
    .tool-list .learn-link{font-size:14px;}
}
.free-video{background-image:linear-gradient(-135deg, #3D41DA 0%, #1E1F44 100%);color:#fff;}
.free-video .free__video-cta{color:#72C0FF;}
.free-video .container{margin:80px auto;max-width:1000px;width:90%;}
.free-video .container p{color:#fff;}
.free-video .container h2,.free-video .container h3{color:#fff;font-weight:700!important;}
@media only screen and (min-width: 0px) and (max-width: 860px){
    .free-video .container p{font-size:16px!important;text-align:left!important;}
}
.free-video .video-text{display:flex;margin:50px auto;max-width:720px;}
@media only screen and (min-width: 0px) and (max-width: 860px){
    .free-video .video-text{flex-direction:column;width:100%;margin:0 auto;}
    .free-video .video-text .text{margin-top:50px;}
}
.free-video .video{position:relative;margin-right:30px;width:47%;}
.free-video .video .video-image{width:100%;transition:0.2s;border-radius:5px;}
.free-video .video .play-btn{box-shadow:0 4px 8px 0 rgba(30,31,68,0.5);border-radius:30px;position:absolute;top:100%;left:50%;transition:all 0.2s ease;transform:scale3d(1, 1, 1);margin-left:-30px;margin-top:-10px;}
.free-video .video:hover .video-image{opacity:.75;}
.free-video .video:hover .play-btn{transform:scale3d(1.2, 1.2, 1);}
@media only screen and (min-width: 0px) and (max-width: 860px){
    .free-video .video{margin:0 auto;width:90%;}
}
.free-video .intro-text{text-align:center!important;margin:0 10% 10px;}
@media only screen and (min-width: 0px) and (max-width: 860px){
    .free-video .intro-text{text-align:left!important;margin:0 0 10px;}
}
.info-links{margin:0 auto 20px;padding-top:40px;border-bottom:none;}
.info-links .row{display:flex;width:100%;margin:0;align-items:flex-end;justify-content:center;}
@media only screen and (max-width: 960px){
    .info-links .row{flex-wrap:wrap;}
}
.info-links .info-link{margin:20px;width:100%;max-width:300px;font-size:16px;text-align:center;}
.info-links .info-link p{text-align:center!important;margin-bottom:40px;}
@media only screen and (min-width: 861px) and (max-width: 1380px){
    .info-links .info-link p{min-height:114px;}
}
.info-links .info-link a{padding:15px 20px;color:#3D41DA;font-size:16px;border-radius:50px;transition:color .2s ease;position:relative;}
.info-links .info-link a:hover{color:#fff;text-decoration:none;}
.info-links .info-link a:hover:after{opacity:0;}
.info-links .info-link a:after{content:"";background:#fff;border-radius:40px;height:calc(100% - 4px);transition:opacity .2s ease;width:calc(100% - 4px);position:absolute;top:2px;left:2px;z-index:-1;}
.info-links .info-link a:before{content:"";background-image:linear-gradient(45deg, #3D41DA 0%, #0088F7 100%);border-radius:40px;height:100%;width:100%;position:absolute;top:0;left:0;z-index:-1;}
.info-links .info-image{margin-bottom:30px;}
@media only screen and (min-width: 480px) and (max-width: 860px){
    .info-links{flex-wrap:wrap;}
}
.learn-more{background:#BDF5E1;}
.learn-more .container{max-width:1000px;width:90%;position:relative;}
.learn-more .book-img{width:100%;background:green;}
.learn-more .book-img img{position:absolute;}
.learn-more .book-img .book-top-right{top:-120px;right:50px;}
.learn-more .book-img .book-left{left:0;}
.learn-more .book-img .book-bottom-right{right:0;bottom:-120px;}
@media only screen and (min-width: 0px) and (max-width: 860px){
    .learn-more .book-img{display:none;}
}
.learn-more .intro-text{margin:100px auto;max-width:500px;text-align:center;}
.learn-more .intro-text p{color:#1E1F44;}
.learn-more .intro-text h3{margin:20px 0;font-size:48px;font-weight:700;color:#1E1F44;}
.learn-more .intro-text p{width:100%;margin-bottom:40px;font-size:22px;}
.learn-more .intro-text a{background-image:linear-gradient(45deg, #3D41DA 0%, #0088F7 100%);color:#fff;text-shadow:0 1px 1px rgba(30,31,68,0.5);padding:20px 25px;border-radius:50px;font-size:16px;}
.learn-more .intro-text a:hover{background-image:linear-gradient(-45deg, #3D41DA 0%, #0088F7 100%);text-decoration:none;}
.hero{padding-top:90px!important;}
.hero__container{margin:0 auto;display:flex;max-width:1200px;width:80%;}
@media only screen and (min-width: 480px) and (max-width: 860px){
    .hero__container{flex-direction:column;}
}
@media only screen and (min-width: 0px) and (max-width: 479px){
    .hero__container{flex-direction:column;}
}
.hero__content{width:50%;margin-right:20px;}
.hero__content-title{font-size:4rem!important;font-weight:700!important;line-height:1.2;color:#1E1F44!important;}
.hero__content-title span{color:#0088f7!important;}
.hero__content-subtitle{font-size:1.5rem;color:#1E1F44;}
.hero__content-cta-links{display:flex;align-items:center;flex-wrap:wrap;}
@media only screen and (min-width: 480px) and (max-width: 860px){
    .hero__content{width:100%;}
}
@media only screen and (min-width: 0px) and (max-width: 479px){
    .hero__content{width:100%;}
}
.hero .cta-link{margin-right:10px;}
.hero .cta-link button{background:transparent;height:60px;width:60px;padding:14px;border-radius:50px;border:2px solid #dedede;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.hero .cta-link button:hover{border-color:#0088f7;}
.hero .cta-link a{background-image:linear-gradient(45deg, #3D41DA 0%, #0088F7 100%);display:inline-block;font-size:16px;color:#fff;text-shadow:0 1px 1px rgba(30,31,68,0.5);padding:20px 25px;border-radius:50px;position:relative;margin:10px;}
.hero .cta-link a:after{content:"";display:block;height:2px;width:calc(100% - 50px);position:absolute;top:66%;background:#fff;left:50%;transform:translateX(-50%) scaleX(0);transition:0.2s ease;}
.hero .cta-link a:hover{text-decoration:none;}
.hero .cta-link a:hover:after{transform:translateX(-50%) scaleX(1);}
.hero .video-graphic{display:grid;grid-template:1fr / 1fr;position:relative;}
.hero .video-graphic__btn{grid-area:1 / 1 / 2 / 2;align-self:center;justify-self:center;position:absolute;z-index:1;background:#fff;padding:1em 2em;border-radius:3em;box-shadow:0 0.2em 1em #1E1F44;color:#122CD6;text-decoration:none;transition:.15s ease;}
.hero .video-graphic__btn:hover{transform:translateY(-0.1em);box-shadow:0 0.3em 2em #1E1F44;text-decoration:none;}
@media only screen and (min-width: 480px) and (max-width: 860px){
    .hero .video-graphic{display:none;}
}
@media only screen and (min-width: 0px) and (max-width: 479px){
    .hero .video-graphic{display:none;}
}
.hero.home{padding-top:150px;margin-bottom:100px!important;}
body{background:#fff;font-family:'Montserrat', sans-serif!important;}
#wrapper>header{padding-top:0;}
#wrapper>header h1{margin:.75em 0 .5em;font-weight:700!important;font-size:4rem!important;line-height:4rem!important;}
#wrapper>header p{font-size:24px;letter-spacing:normal!important;}
@media only screen and (min-width: 0px) and (max-width: 479px){
    #wrapper>header{position:relative;top:-20px;}
    #wrapper>header .hero__container{width:100%;padding:30px 20px 0;}
    #wrapper>header h1{font-size:3rem!important;margin:0 0 0.5em!important;line-height:3rem!important;}
}
@media only screen and (min-width: 480px) and (max-width: 860px){
    #wrapper>header .hero__container{width:80%;}
}
@media only screen and (max-width: 379px) and (min-width: 0px){
    #wrapper>header .hero__content-cta-links .cta-link:nth-child(1){display:block;margin:-15px 0 10px 0;width:100%;}
}
.container:after{display:none;}
header h1,header p{line-height:1.2!important;}
.free-tools{margin:60px auto 0;width:100%;padding:0 30px 60px;border-bottom:none;}
.free-tools .container{max-width:1000px;}
.free-tools h1{font-size:54px!important;font-weight:700!important;}
@media only screen and (min-width: 0px) and (max-width: 479px), only screen and (min-width: 480px) and (max-width: 860px){
    .free-tools .ratio-container{min-height:180px;}
}
@media only screen and (min-width: 480px) and (max-width: 860px){
    .free-tools{margin-top:0;padding-left:20px;padding-right:20px;}
}
@media only screen and (min-width: 0px) and (max-width: 479px){
    .free-tools{margin-top:20px;padding-left:10px;padding-right:10px;padding-bottom:0!important;}
}
.intro-text h1,.intro-text p{text-align:center;color:#1E1F44;}
.intro-text h1{margin-bottom:20px;}
@media only screen and (min-width: 0px) and (max-width: 479px){
    .intro-text p{margin:0 0 10px;}
}
@media only screen and (min-width: 0px) and (max-width: 860px){
    .intro-text h1{font-size:48px!important;text-align:left!important;}
    .intro-text p{font-size:16px!important;text-align:left!important;}
}
.tool-list{margin:50px auto;width:100%;position:relative;}
@media only screen and (min-width: 480px) and (max-width: 860px){
    .tool-list{margin-top:0;}
}
.tool-list ul li,.tool-list .module h2{font-weight:700;}
.tool-list .tool-modules{z-index:1;margin-top:30px;padding-right:0;}
@media only screen and (min-width: 0px) and (max-width: 860px){
    .tool-list .tool-modules{width:100%;margin-top:0;}
}
@media (max-width: 1005px){
    .tool-list .tool-modules{padding-left:0;}
}
.tool-list .tool-tabs{margin-top:15px;padding-right:0;display:none;}
.tool-list .tool-tabs:after{content:'';background:#fff;transform:rotate(10deg);height:400px;width:150px;left:80%;top:0;border-left:2px solid #B1B2F0;position:absolute;}
.tool-list .tool-tabs a:focus{text-decoration:none;}
.tool-list li{max-width:440px;position:relative;border-radius:50px 0 0 50px;list-style-type:none;transition:all .2s ease;}
.tool-list li a{padding:15px 7px;font-size:15px;color:#1E1F44;}
.tool-list li a:before{transition:all .2s ease;}
@media (max-width: 1005px){
    .tool-list li a{padding:15px 15px 15px 10px;font-size:16px;}
}
.tool-list li path{transition:all .2s ease;}
.tool-list li.active{background-color:#EBECFB;}
.tool-list li.active a{color:#0088f7;text-decoration:none;}
.tool-list li.active:before{background-color:#0088f7;}
.tool-list li.active:hover path{fill:#fff;}
.tool-list li.active path{fill:#fff;}
.tool-list li:hover{cursor:pointer;}
.tool-list li:hover a{color:#0088f7;text-decoration:none;}
.tool-list li:hover path{fill:#0088f7;}
.tool-list li:before{content:'';background-color:#fff;background-repeat:no-repeat;background-position:center;height:70px;width:70px;border-radius:50px;display:inline-block;vertical-align:middle;}
.tool-list li svg{width:70px;top:20px;left:0;position:absolute;opacity:1;}
.tool-list .module{width:90%;}
.tool-list .module h2{font-size:2em!important;margin:25px 0 10px;}
.tool-list .module p{color:#1E1F44;}
@media only screen and (min-width: 0px) and (max-width: 860px){
    .tool-list .module{margin:30px auto;width:100%;max-width:300px;border-bottom:2px solid #B1B2F0;}
    .tool-list .module:last-child{border-bottom:none;}
    .tool-list .module img{width:100%;}
}
@media only screen and (min-width: 861px){
    .tool-list .tool-tabs{display:block!important;}
    .tool-list .module{display:none;max-width:350px;}
    .tool-list .module h2{font-size:1.5em!important;}
    .tool-list .show{display:block!important;}
}
.tool-list .links{margin-bottom:40px;font-size:16px;}
.tool-list .activate-link{background-image:linear-gradient(45deg, #3D41DA 0%, #0088F7 100%);color:#fff;text-shadow:0 1px 1px rgba(30,31,68,0.5);border-radius:50px;padding:15px 20px;margin-right:15px;}
.tool-list .activate-link:hover{background-image:linear-gradient(-45deg, #3D41DA 0%, #0088F7 100%);text-decoration:none;}
@media (max-width: 1005px){
    .tool-list .activate-link{margin-right:10px;}
}
.tool-list .learn-link{color:#3D41DA;}
@media (max-width: 944px){
    .tool-list .learn-link{font-size:14px;}
}
.free-video{background-image:linear-gradient(-135deg, #3D41DA 0%, #1E1F44 100%);color:#fff;}
.free-video .free__video-cta{color:#72C0FF;}
.free-video .container{margin:80px auto;max-width:1000px;width:90%;}
.free-video .container p{color:#fff;}
.free-video .container h2,.free-video .container h3{color:#fff;font-weight:700!important;}
@media only screen and (min-width: 0px) and (max-width: 860px){
    .free-video .container p{font-size:16px!important;text-align:left!important;}
}
.free-video .video-text{display:flex;margin:50px auto;max-width:720px;}
@media only screen and (min-width: 0px) and (max-width: 860px){
    .free-video .video-text{flex-direction:column;width:100%;margin:0 auto;}
    .free-video .video-text .text{margin-top:50px;}
}
.free-video .video{position:relative;margin-right:30px;width:47%;}
.free-video .video .video-image{width:100%;transition:0.2s;border-radius:5px;}
.free-video .video .play-btn{box-shadow:0 4px 8px 0 rgba(30,31,68,0.5);border-radius:30px;position:absolute;top:100%;left:50%;transition:all 0.2s ease;transform:scale3d(1, 1, 1);margin-left:-30px;margin-top:-10px;}
.free-video .video:hover .video-image{opacity:.75;}
.free-video .video:hover .play-btn{transform:scale3d(1.2, 1.2, 1);}
@media only screen and (min-width: 0px) and (max-width: 860px){
    .free-video .video{margin:0 auto;width:90%;}
}
.free-video .intro-text{text-align:center!important;margin:0 10% 10px;}
@media only screen and (min-width: 0px) and (max-width: 860px){
    .free-video .intro-text{text-align:left!important;margin:0 0 10px;}
}
.info-links{margin:0 auto 20px;padding-top:40px;border-bottom:none;}
.info-links .row{display:flex;width:100%;margin:0;align-items:flex-end;justify-content:center;}
@media only screen and (max-width: 960px){
    .info-links .row{flex-wrap:wrap;}
}
.info-links .info-link{margin:20px;width:100%;max-width:300px;font-size:16px;text-align:center;}
.info-links .info-link p{text-align:center!important;margin-bottom:40px;}
@media only screen and (min-width: 861px) and (max-width: 1380px){
    .info-links .info-link p{min-height:114px;}
}
.info-links .info-link a{padding:15px 20px;color:#3D41DA;font-size:16px;border-radius:50px;transition:color .2s ease;position:relative;}
.info-links .info-link a:hover{color:#fff;text-decoration:none;}
.info-links .info-link a:hover:after{opacity:0;}
.info-links .info-link a:after{content:"";background:#fff;border-radius:40px;height:calc(100% - 4px);transition:opacity .2s ease;width:calc(100% - 4px);position:absolute;top:2px;left:2px;z-index:-1;}
.info-links .info-link a:before{content:"";background-image:linear-gradient(45deg, #3D41DA 0%, #0088F7 100%);border-radius:40px;height:100%;width:100%;position:absolute;top:0;left:0;z-index:-1;}
.info-links .info-image{margin-bottom:30px;}
@media only screen and (min-width: 480px) and (max-width: 860px){
    .info-links{flex-wrap:wrap;}
}
.learn-more{background:#BDF5E1;}
.learn-more .container{max-width:1000px;width:90%;position:relative;}
.learn-more .book-img{width:100%;background:green;}
.learn-more .book-img img{position:absolute;}
.learn-more .book-img .book-top-right{top:-120px;right:50px;}
.learn-more .book-img .book-left{left:0;}
.learn-more .book-img .book-bottom-right{right:0;bottom:-120px;}
@media only screen and (min-width: 0px) and (max-width: 860px){
    .learn-more .book-img{display:none;}
}
.learn-more .intro-text{margin:100px auto;max-width:500px;text-align:center;}
.learn-more .intro-text p{color:#1E1F44;}
.learn-more .intro-text h3{margin:20px 0;font-size:48px;font-weight:700;color:#1E1F44;}
.learn-more .intro-text p{width:100%;margin-bottom:40px;font-size:22px;}
.learn-more .intro-text a{background-image:linear-gradient(45deg, #3D41DA 0%, #0088F7 100%);color:#fff;text-shadow:0 1px 1px rgba(30,31,68,0.5);padding:20px 25px;border-radius:50px;font-size:16px;}
.learn-more .intro-text a:hover{background-image:linear-gradient(-45deg, #3D41DA 0%, #0088F7 100%);text-decoration:none;}
@media only screen and (min-width: 0px) and (max-width: 479px){
    .container{padding-left:30px;padding-right:30px;}
}
@media only screen and (min-width: 0px) and (max-width: 479px){
    section h2{font-size:24px!important;}
}
@media only screen and (min-width: 0px) and (max-width: 479px){
    section:first-of-type{padding-bottom:6em;}
}
/*! CSS Used from: Embedded */
.at-icon{fill:#fff;border:0;}
.at-icon-wrapper{display:inline-block;overflow:hidden;}
a .at-icon-wrapper{cursor:pointer;}
.zshipu_32x32_style .at-icon{width:2pc;height:2pc;}
#_atssh{width:1px!important;height:1px!important;border:0!important;}
@media print{
    #at4-share,#at4-thankyou{display:none!important;}
}
/*! CSS Used from: Embedded */
.at-branding-logo{font-family:helvetica,arial,sans-serif;text-decoration:none;font-size:10px;display:inline-block;margin:2px 0;letter-spacing:.2px;}
.at-branding-logo .at-branding-icon{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////+GlNUkcc1QAAAB1JREFUeNpiYIQDBjQmAwMmkwEM0JnY1WIxFyDAABGeAFEudiZsAAAAAElFTkSuQmCC);}
.at-branding-logo .at-branding-icon{display:inline-block;height:10px;width:10px;margin-left:4px;margin-right:3px;margin-bottom:-1px;background-repeat:no-repeat;}
.at-branding-logo span{text-decoration:none;}
.at-branding-logo .at-branding-zshipu{color:#666;}
.at-branding-logo .at-branding-zshipu:hover{color:#333;}
a.at-branding-logo:visited{color:initial;}
/*! CSS Used from: Embedded */
.at-branding-logo{font-family:helvetica,arial,sans-serif;text-decoration:none;font-size:10px;display:inline-block;margin:2px 0;letter-spacing:.2px;}
.at-branding-logo .at-branding-icon{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////+GlNUkcc1QAAAB1JREFUeNpiYIQDBjQmAwMmkwEM0JnY1WIxFyDAABGeAFEudiZsAAAAAElFTkSuQmCC);}
.at-branding-logo .at-branding-icon{display:inline-block;height:10px;width:10px;margin-left:4px;margin-right:3px;margin-bottom:-1px;background-repeat:no-repeat;}
.at-branding-logo span{text-decoration:none;}
.at-branding-logo .at-branding-zshipu{color:#666;}
.at-branding-logo .at-branding-zshipu:hover{color:#333;}
a.at-branding-logo:visited{color:initial;}
/*! CSS Used from: Embedded */
.at-branding-logo{font-family:helvetica,arial,sans-serif;text-decoration:none;font-size:10px;display:inline-block;margin:2px 0;letter-spacing:.2px;}
.at-branding-logo .at-branding-icon{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////+GlNUkcc1QAAAB1JREFUeNpiYIQDBjQmAwMmkwEM0JnY1WIxFyDAABGeAFEudiZsAAAAAElFTkSuQmCC);}
.at-branding-logo .at-branding-icon{display:inline-block;height:10px;width:10px;margin-left:4px;margin-right:3px;margin-bottom:-1px;background-repeat:no-repeat;}
.at-branding-logo span{text-decoration:none;}
.at-branding-logo .at-branding-zshipu{color:#666;}
.at-branding-logo .at-branding-zshipu:hover{color:#333;}
a.at-branding-logo:visited{color:initial;}
/*! CSS Used from: Embedded */
.at-share-dock.atss{top:auto;left:0;right:0;bottom:0;width:100%;max-width:100%;z-index:1000200;box-shadow:0 0 1px 1px #e2dfe2;}
.at-share-dock a{width:auto;transition:none;color:#fff;text-decoration:none;box-sizing:content-box;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;}
.at-share-dock a:hover{width:auto;}
.at-share-dock .at4-count{height:43px;padding:5px 0 0;line-height:20px;background:#fff;font-family:Helvetica neue,arial;}
.at-share-dock .at4-count span{width:100%;}
.at-share-dock .at4-count .at4-share-label{color:#848484;font-size:10px;letter-spacing:1px;}
.at-share-dock .at4-count .at4-counter{top:2px;position:relative;display:block;color:#222;font-size:22px;}
/*! CSS Used from: Embedded */
.atss{position:fixed;top:20%;width:3pc;z-index:100020;background:none;}
.at-share-close-control{position:relative;width:3pc;overflow:auto;}
.at-share-open-control-left{position:fixed;top:20%;z-index:100020;left:0;width:22px;}
.at-share-close-control .at4-arrow.at-left{float:right;}
.atss-left{left:0;float:left;right:auto;}
.atss .at-share-btn,.atss a{position:relative;display:block;width:3pc;margin:0;outline-offset:-1px;text-align:center;float:left;transition:width .15s ease-in-out;overflow:hidden;background:#e8e8e8;z-index:100030;cursor:pointer;}
.at-share-btn::-moz-focus-inner{border:0;padding:0;}
.atss .at-share-btn{border:0;padding:0;}
.atss .at-share-btn:focus,.atss .at-share-btn:hover,.atss a:focus,.atss a:hover{width:4pc;}
.atss .at-share-btn .at-icon-wrapper,.atss a .at-icon-wrapper{display:block;padding:8px 0;}
.atss .at-share-btn:last-child,.atss a:last-child{border:none;}
.atss .at-share-btn span .at-icon,.atss a span .at-icon{position:relative;top:0;left:0;display:block;background-repeat:no-repeat;background-position:50% 50%;width:2pc;height:2pc;line-height:2pc;border:none;padding:0;margin:0 auto;overflow:hidden;cursor:pointer;cursor:hand;}
.at4-share .at4-share-count-container{position:absolute;left:0;right:auto;top:auto;bottom:0;width:100%;color:#fff;background:inherit;}
.at4-share .at4-share-count,.at4-share .at4-share-count-container{line-height:1pc;font-size:10px;}
.at4-share .at4-share-count{text-indent:0;font-family:Arial,Helvetica Neue,Helvetica,sans-serif;font-weight:200;width:100%;height:1pc;}
.at4-share .at4-share-count-anchor{padding-bottom:8px;text-decoration:none;transition:padding .15s ease-in-out .15s,width .15s ease-in-out;}
/*! CSS Used from: Embedded */
.at4-thankyou-background{top:0;right:0;left:0;bottom:0;-webkit-overflow-scrolling:touch;z-index:9999999;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABtJREFUeNpizCuu/sRABGBiIBKMKqSOQoAAAwC8KgJipENhxwAAAABJRU5ErkJggg==);background:hsla(217,6%,46%,.95);}
.at4-thankyou-inner{position:absolute;width:100%;top:10%;left:50%;margin-left:-50%;text-align:center;}
.thankyou-description{font-weight:400;}
.at4-thankyou-background .at4lb-inner{position:relative;width:100%;height:100%;}
.at4-thankyou-background .at4lb-inner .at4x{position:absolute;top:15px;right:15px;display:block;width:20px;height:20px;padding:20px;margin:0;cursor:pointer;transition:opacity .25s ease-in;opacity:.4;background:url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMTEvMTMvMTKswDp5AAAAd0lEQVQ4jb2VQRLAIAgDE///Z3qqY1FAhalHMCsCIkVEAIAkkVgvp2lDBgYAnAyHkWotLccNrEd4A7X2TqIdqLfnWBAdaF5rJdyJfjtPH5GT37CaGhoVq3nOm/XflUuLUto2pY1d+vRKh0Pp+MrAVtDe2JkvYNQ+jVSEEFmOkggAAAAASUVORK5CYII=) no-repeat center center;overflow:hidden;text-indent:-99999em;border:1px solid transparent;}
.at4-thankyou-background .at4lb-inner .at4x:focus,.at4-thankyou-background .at4lb-inner .at4x:hover{border:1px solid #fff;border-radius:50%;outline:0;}
.at4-thankyou-background .at4lb-inner #at4-palogo{position:absolute;bottom:10px;display:inline-block;text-decoration:none;font-family:helvetica,arial,sans-serif;font-size:11px;cursor:pointer;-webkit-transition:opacity .25s ease-in;moz-transition:opacity .25s ease-in;transition:opacity .25s ease-in;opacity:.5;z-index:100020;color:#fff;padding:2px 0 0 13px;}
.at4-thankyou-background .at4lb-inner #at4-palogo .at-branding-zshipu{color:#fff;}
.at4-thankyou-background .at4lb-inner #at4-palogo:hover{text-decoration:none;color:#fff;opacity:1;}
.at4-thankyou-background .thankyou-title{color:#fff;font-size:38.5px;margin:10px 20px;line-height:38.5px;font-family:helvetica neue,helvetica,arial,sans-serif;font-weight:300;}
.at4-thankyou-background .thankyou-description{color:#fff;font-size:18px;margin:10px 0;line-height:24px;padding:0;font-family:helvetica neue,helvetica,arial,sans-serif;font-weight:300;}
/*! CSS Used from: Embedded */
.zshipu-smartlayers,div#at4-share,div#at4-thankyou{padding:0;margin:0;}
#at4-share-label{padding:0;border:none;background:none;position:absolute;top:0;left:0;height:0;width:0;overflow:hidden;text-indent:-9999em;}
.zshipu-smartlayers .at4-arrow:hover{cursor:pointer;}
.zshipu-smartlayers .at4-arrow:after,.zshipu-smartlayers .at4-arrow:before{content:none;}
div.at4-arrow{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAAoCAYAAABpYH0BAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAV1JREFUeNrsmesOgyAMhQfxwfrofTM3E10ME2i5Oeppwr9a5OMUCrh1XV+wcvNAAIAA+BiAzrmtUWln27dbjEcC3AdODfo0BdEPhmcO4nIDvDNELi2jggk4/k8dT7skfeKzWIEd4VUpMQKvNB7X+OZSmAZkATWC1xvipbpnLmOosbJZC08CkAeA4E6qFUEMwLAGnlSBPCE8lW8CYnZTcimH2HoT7kSFOx5HBmCnDhTIu1p5s98G+QZrxGPhZVMY1vgyAQaAAAiAAAgDQACcBOD+BvJtBWfRy7NpJK5tBe4FNzXokywV734wPHMQlxvgnSGyNoUP/2ACjv/7iSeYKO3YWKzAjvCqlBiBVxqPa3ynexNJwOsN8TJbzL6JNIYYXWpMv4lIIAZgWANPqkCeEJ7KNwExu8lpLlSpAVQarO77TyKdBsyRPuwV0h0gmoGnTWFYzVkYBoAA+I/2FmAAt6+b5XM9mFkAAAAASUVORK5CYII=);background-repeat:no-repeat;width:20px;height:20px;margin:0;padding:0;overflow:hidden;text-indent:-9999em;text-align:left;cursor:pointer;}
div.at4-arrow.at-right{background-position:-20px 0;}
div.at4-arrow.at-left{background-position:0 0;}
.at4-visually-hidden{position:absolute;clip:rect(1px,1px,1px,1px);padding:0;border:0;overflow:hidden;}
.at4-show{display:block!important;opacity:1!important;}
.at4-hide{display:none!important;opacity:0!important;}
.at4-hide-content{opacity:0!important;visibility:hidden;}
.zshipu-animated{animation-fill-mode:both;animation-timing-function:ease-out;animation-duration:.3s;}
.slideInLeft.zshipu-animated,.slideInUp.zshipu-animated{animation-duration:.4s;}
.fadeIn{animation-name:fadeIn;}
.slideInUp{animation-name:slideInUp;}
.slideInUp.zshipu-animated{animation-duration:.4s;}
.slideInLeft{animation-name:slideInLeft;}
/*! CSS Used from: Embedded ; media=screen */
@media screen{
    #at4-share,#at4-soc{top:20%!important;bottom:auto;}
}
.goog-te-spinner-pos{z-index:1000;position:fixed;transition-delay:0.6s;left:-1000px;top:-1000px;}
.goog-te-spinner-animation{background:#ccc;display:flex;align-items:center;justify-content:center;width:104px;height:104px;border-radius:50px;background:#fff url(../img/translate_24dp.png) 50% 50% no-repeat;transition:all 0.6s ease-in-out;transform:scale(0.4);opacity:0;}
.goog-te-spinner{margin:2px 0 0 2px;animation:goog-te-spinner-rotator 1.4s linear infinite;}
.goog-te-spinner-path{stroke-dasharray:187;stroke-dashoffset:0;stroke:#4285f4;transform-origin:center;animation:goog-te-spinner-dash 1.4s ease-in-out infinite;}
#goog-gt-tt div,#goog-gt-tt span,#goog-gt-tt h1,#goog-gt-tt img{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;text-align:left;line-height:normal;}
div#goog-gt-tt{padding:10px 14px;}
#goog-gt-tt{color:#222;background-color:#ffffff;border:1px solid #eee;box-shadow:0 4px 16px rgba(0,0,0,.2);-moz-box-shadow:0 4px 16px rgba(0,0,0,.2);-webkit-box-shadow:0 4px 16px rgba(0,0,0,.2);display:none;font-family:arial;font-size:10pt;width:420px;padding:12px;position:absolute;z-index:10000;}
#goog-gt-tt .original-text{clear:both;font-size:10pt;position:relative;text-align:justify;width:100%;}
#goog-gt-tt .title{color:#999;font-family:arial,sans-serif;margin:4px 0;text-align:left;}
#goog-gt-tt .logo{float:left;margin:0px;}
#goog-gt-tt .activity-links{display:inline-block;}
#goog-gt-tt .started-activity-container{display:none;width:100%;}
#goog-gt-tt .activity-root{margin-top:20px;}
#goog-gt-tt .bottom{min-height:15px;position:relative;height:1%;}
#goog-gt-tt .status-message{background:-moz-linear-gradient(top,#29910d 0%,#20af0e 100%);background:-webkit-linear-gradient(top,#29910d 0%,#20af0e 100%);background:-o-linear-gradient(top,#29910d 0%,#20af0e 100%);background:-ms-linear-gradient(top,#29910d 0%,#20af0e 100%);background:linear-gradient(top,#29910d 0%,#20af0e 100%);background:#29910d;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;box-shadow:inset 0px 2px 2px #1e6609;-moz-box-shadow:inset 0px 2px 2px #1e6609;-webkit-box-shadow:inset 0px 2px 2px #1e6609;color:white;font-size:9pt;font-weight:bolder;margin-top:12px;padding:6px;text-shadow:1px 1px 1px #1e6609;}
#goog-gt-tt .activity-link{color:#1155cc;cursor:pointer;font-family:arial;font-size:11px;margin-right:15px;text-decoration:none;}
#goog-gt-tt .gray{color:#999;font-family:arial,sans-serif;}
#goog-gt-tt span:focus{outline:none;}
/*! CSS Used keyframes */
@-webkit-keyframes fadein{0%{-webkit-transform:translateY(-20px);transform:translateY(-20px);-webkit-transform:scale(0.85);transform:scale(0.85);opacity:0;}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transform:scale(1);transform:scale(1);opacity:1;}}
@-moz-keyframes fadein{0%{-moz-transform:translateY(-20px);transform:translateY(-20px);-moz-transform:scale(0.85);transform:scale(0.85);opacity:0;}100%{-moz-transform:translateY(0);transform:translateY(0);-moz-transform:scale(1);transform:scale(1);opacity:1;}}
@-o-keyframes fadein{0%{-o-transform:translateY(-20px);transform:translateY(-20px);-o-transform:scale(0.85);transform:scale(0.85);opacity:0;}100%{-o-transform:translateY(0);transform:translateY(0);-o-transform:scale(1);transform:scale(1);opacity:1;}}
@keyframes fadein{0%{transform:translateY(-20px);transform:scale(0.85);opacity:0;}100%{transform:translateY(0);transform:scale(1);opacity:1;}}
@-webkit-keyframes fadein{0%{-webkit-transform:translateY(-20px);transform:translateY(-20px);-webkit-transform:scale(0.85);transform:scale(0.85);opacity:0;}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transform:scale(1);transform:scale(1);opacity:1;}}
@-moz-keyframes fadein{0%{-moz-transform:translateY(-20px);transform:translateY(-20px);-moz-transform:scale(0.85);transform:scale(0.85);opacity:0;}100%{-moz-transform:translateY(0);transform:translateY(0);-moz-transform:scale(1);transform:scale(1);opacity:1;}}
@-o-keyframes fadein{0%{-o-transform:translateY(-20px);transform:translateY(-20px);-o-transform:scale(0.85);transform:scale(0.85);opacity:0;}100%{-o-transform:translateY(0);transform:translateY(0);-o-transform:scale(1);transform:scale(1);opacity:1;}}
@keyframes fadein{0%{transform:translateY(-20px);transform:scale(0.85);opacity:0;}100%{transform:translateY(0);transform:scale(1);opacity:1;}}
@-webkit-keyframes fadein{0%{opacity:0;}100%{opacity:1;}}
@keyframes fadeIn{0%{opacity:0;}to{opacity:1;}}
@keyframes slideInUp{0%{transform:translateY(1500px);}0%,to{opacity:1;}to{transform:translateY(0);}}
@keyframes slideInLeft{0%{opacity:0;transform:translateX(-850px);}to{transform:translateX(0);}}
@keyframes goog-te-spinner-rotator{0%{transform:rotate(0deg);}100%{transform:rotate(270deg);}}
@keyframes goog-te-spinner-dash{0%{stroke-dashoffset:187;}50%{stroke-dashoffset:46.75;transform:rotate(135deg);}100%{stroke-dashoffset:187;transform:rotate(450deg);}}
/*! CSS Used fontfaces */
@font-face{font-family:'Montserrat';font-style:normal;font-weight:400;src:local('Montserrat Regular'), local('Montserrat-Regular'), url(foots/fontzbirhy.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:400;src:local('Montserrat Regular'), local('Montserrat-Regular'), url(foots/fontzbi.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:400;src:local('Montserrat Regular'), local('Montserrat-Regular'), url(foots/fontzbiwzhy.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:400;src:local('Montserrat Regular'), local('Montserrat-Regular'), url(foots/fontzbidhy.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:400;src:local('Montserrat Regular'), local('Montserrat-Regular'), url(foots/fonthyw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;src:local('Montserrat Bold'), local('Montserrat-Bold'), url(foots/fontu50gtd.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;src:local('Montserrat Bold'), local('Montserrat-Bold'), url(foots/fontu50.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;src:local('Montserrat Bold'), local('Montserrat-Bold'), url(foots/fontu50bd.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;src:local('Montserrat Bold'), local('Montserrat-Bold'), url(foots/fontu503gf.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;src:local('Montserrat Bold'), local('Montserrat-Bold'), url(foots/fontgnd.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}