@media screen{
    img{border:0;}
    body{margin:0;}
    footer,header,nav,section{display:block;}
    a{background:0 0;}
    a:active,a:hover{outline:0;}
    h1{margin:.67em 0;}
    strong{font-weight:700;}
    img{vertical-align:middle;}
    svg:not(:root){overflow:hidden;}
    button{text-transform:none;}
    button,input[type=submit]{cursor:pointer;-webkit-appearance:button;}
    input[type=checkbox]{padding:0;box-sizing:border-box;}
    button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
    textarea{overflow:auto;vertical-align:top;}
    @media print{
        img{page-break-inside:avoid;}
        *{color:#000!important;text-shadow:none!important;background:0 0!important;box-shadow:none!important;}
        a,a:visited{text-decoration:underline;}
        a[href]:after{content:" (" attr(href) ")";}
        img{max-width:100%!important;}
        h2,h3,p{orphans:3;widows:3;}
        h2,h3{page-break-after:avoid;}
    }
    body{background-color:#fff;}
    *,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
    body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.428571429;color:#333;}
    button,input,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
    a{color:#428bca;text-decoration:none;}
    a:focus,a:hover{color:#2a6496;text-decoration:underline;}
    a:focus{outline:#333 dotted thin;outline:-webkit-focus-ring-color auto 5px;outline-offset:-2px;}
    .glyphicon{position:relative;}
    p{margin:0 0 10px;}
    h1,h2,h3,h4,h5{margin-bottom:10px;}
    small{font-size:85%;}
    h1,h2,h3,h4,h5{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:500;line-height:1.1;color:inherit;}
    h4 small{font-weight:400;line-height:1;color:#999;}
    h1,h2,h3{margin-top:20px;}
    h4,h5{margin-top:10px;}
    h4 small{font-size:75%;}
    h1{font-size:36px;}
    h2{font-size:30px;}
    h3{font-size:24px;}
    h4{font-size:18px;}
    h5{font-size:14px;}
    dl{margin-bottom:20px;}
    ul{margin-top:0;margin-bottom:10px;}
    dd,dt{line-height:1.428571429;}
    dt{font-weight:700;}
    dd{margin-left:0;}
    .row:after{clear:both;}
    .row:after,.row:before{display:table;content:" ";}
    .row{margin-right:-15px;margin-left:-15px;}
    .col-md-6{position:relative;min-height:1px;padding-right:15px;padding-left:15px;}
    @media (min-width:992px){
        .col-md-6{float:left;}
        .col-md-6{width:50%;}
    }
    label{display:inline-block;margin-bottom:5px;font-weight:700;}
    input[type=checkbox]{margin:4px 0 0;margin-top:1px\9;line-height:normal;}
    input[type=checkbox]:focus{outline:#333 dotted thin;outline:-webkit-focus-ring-color auto 5px;outline-offset:-2px;}
    .glyphicon{display:inline-block;}
    .glyphicon{top:1px;font-family:'Glyphicons Halflings';-webkit-font-smoothing:antialiased;font-style:normal;font-weight:400;line-height:1;-moz-osx-font-smoothing:grayscale;}
    .glyphicon:empty{width:1em;}
    .glyphicon-bell:before{content:"\e123";}
    .close{font-weight:700;}
    .alert-dismissable{padding-right:35px;}
    .alert-dismissable .close{position:relative;top:-2px;right:-21px;color:inherit;}
    .alert-info{color:#3a87ad;background-color:#d9edf7;border-color:#bce8f1;}
    .close{float:right;}
    .close{font-size:21px;line-height:1;color:#000;text-shadow:0 1px 0 #fff;opacity:.2;filter:alpha(opacity=20);}
    .close:focus,.close:hover{color:#000;text-decoration:none;cursor:pointer;opacity:.5;filter:alpha(opacity=50);}
    button.close{padding:0;cursor:pointer;background:0 0;border:0;-webkit-appearance:none;}
}
@media screen{
    body,dd,div,dl,dt,footer,form,h1,h2,h3,h4,h5,header,img,label,li,nav,p,section,small,span,strong,ul{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline;}
    body{background-color:#f7f7f7;line-height:1;font-family:"Source Sans Pro","helvetica neue",helvetica,arial,sans-serif;font-size:62.5%;font-weight:300;color:#777;}
    a:link,a:visited{text-decoration:none;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;transition:all .2s ease;outline:0;color:#359af9;}
    a:hover{text-decoration:underline;}
    .Dash-page-title{font-size:40px;color:#44484B;font-weight:300;margin:0 0 50px;}
    .msgbar{text-align:center;}
    @media only screen and (max-width:767px){
        body#dashboard{padding:0;}
    }
    .msgbar{position:relative;top:-50px;border-bottom:1px solid rgba(0,0,0,.1);line-height:18px;font-size:14px;z-index:8;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;height:0;}
    .msgbar .close{margin-right:-10px;font-weight:100;opacity:.5;}
    .msgbar .close:focus,.msgbar .close:hover{opacity:1;}
    #content{-webkit-transition:width 0s;-moz-transition:width 0s;transition:width 0s;}
    #main_content{min-height:620px;overflow:hidden;}
    .grid-container>footer{padding-top:50px;font-size:14px;color:#b1b1b1;}
    .grid-container>footer a{margin:0 5px;font-size:14px;color:#666;}
    .grid-container>footer a:link:focus,.grid-container>footer a:link:hover,.grid-container>footer a:visited:focus,.grid-container>footer a:visited:hover{color:#2b2b2b;text-decoration:underline;}
    .grid-container>footer a:first-of-type{margin-left:5px;}
    h3{font-size:1.4em;font-weight:600;color:#000;}
    strong{font-weight:700;}
    @media only screen and (min-width:768px) and (max-width:920px){
        #content{padding-top:140px!important;}
    }
    @media only screen and (min-width:0px) and (max-width:767px){
        .grid-container>footer{padding-left:5%;padding-right:5%;}
        .grid-container>footer .copyright{padding-bottom:10px;}
        .grid-container>footer p{margin:0 0 10px;}
        #content{padding:140px 10px 25px!important;}
        .grid-container>footer{padding:20px 0;}
        .grid-container>footer,.grid-container>footer a{margin:0 2px;line-height:1.6em;font-size:12px;}
        .grid-container>footer .row{margin:0 -5px;}
        .grid-container>footer a:first-of-type{margin-left:4px;}
    }
    @media only screen and (max-width:479px){
        body{padding:0!important;}
    }
    .grid-container{position:relative;}
    a{color:#0295ff;}
    a:hover{color:#0780df;}
    #content{max-width:1280px;margin:0 auto;padding:100px 15px;}
    .grid-container{max-width:1410px;}
    small{font-size:12px;}
    p{padding:0;margin:0 0 20px;}
    label{display:block;min-height:24px;padding-bottom:5px;}
}
@media screen{
    .visually-hidden{visibility:hidden;display:block;position:absolute;}
}
/*! CSS Used from: Embedded */
.Header,.Zsp-nav-link:link,.Zsp-nav-link:visited{color:#3E3F3F;}
.Zsp-nav-link::before,.Header::before{left:0;content:'';}
.Zsp-avatar,.Zsp-notification-icon{text-transform:uppercase;border-radius:50%;}
.Header{position:fixed;height:60px;width:100%;z-index:100;font-size:16px;line-height:20px;font-weight:400;background-color:#fff;box-shadow:0 1px 0 0 #ddd;}
.Header::before{position:absolute;top:0;height:4px;width:100%;background: linear-gradient(135deg, #ffffff 0, #ffffff 100%);box-shadow: 0 0 6px 0 #fff;}
.Zsp-content,.Zsp-nav-link{position:relative;height:60px;display:flex;}
.Zsp-content{align-items:center;justify-content:space-between;width:100%;margin:0 auto;padding:0 20px;}
.Zsp-nav-list{display:flex;align-items:center;justify-content:flex-start;list-style-type:none;}
.Zsp-nav-list-item:not(:last-child){margin-right:40px;}
.Zsp-nav-link{align-items:center;color:#3E3F3F;}
.Zsp-nav-link:focus,.Zsp-nav-link:hover{outline:0;text-decoration:none;}
.Zsp-nav-link::before{position:absolute;bottom:-1px;height:1px;right:0;opacity:0;background:#3E3F3F;transition:all .1s ease-in-out 0s;transform:scaleX(0);}
.Zsp-nav-link.Zsp-nav-link-active::before,.Zsp-nav-link:focus::before,.Zsp-nav-link:hover::before{outline:0;opacity:1;transform:scaleX(1);}
.Zsp-active-pub{display:flex;align-items:center;font-size:20px;line-height:25px;}
.Zsp-active-pub .Zsp-zshipu-logo{width:24px;margin-right:8px;}
.Zsp-nav-list-item-has-dropdown{position:relative;}
.Zsp-A11yButton{padding-right:20px;cursor:pointer;}
.Zsp-A11yButton::after{display:inline-block;position:absolute;top:43%;right:0;content:"";width:8px;height:8px;border-right:2px solid #3E3F3F;border-bottom:2px solid #3E3F3F;transform:rotate(45deg);}
.Zsp-A11yButton:focus,.Zsp-A11yButton:hover{outline:0;}
.Zsp-avatar{display:flex;align-items:center;justify-content:center;height:32px;width:32px;font-size:16px;font-weight:300;letter-spacing:1px;color:#fff;background:#232323;}
.Zsp-mobile-sub-nav{display:none;padding:10px 20px;margin-top:1px;background-color:#fff;box-shadow:0 1px 0 0 #ddd;}
.Zsp-notification-icon{position:relative;display:inline-block;width:30px;height:30px;line-height:30px;margin-right:15px;padding:0;text-align:center;cursor:pointer;border:0;outline:0;color:#232323;background-color:transparent;-webkit-transition:all .2s ease-in-out;-moz-transition:all  .2s ease-in-out;transition:all .2s ease-in-out;}
.Zsp-notification-icon:focus,.Zsp-notification-icon:hover{background:#EEE;}
.Zsp-notification-icon-glyphicon{width:30px;font-size:16px;line-height:30px;}
@media only screen and (max-width:920px){
    .Zsp-hide-on-mobile{display:none;}
    .Zsp-content{padding:0 20px;}
    .Zsp-mobile-sub-nav{display:block;padding:0 20px;}
    .Zsp-mobile-sub-nav .Zsp-nav-list{display:block;}
    .Zsp-mobile-sub-nav .Zsp-nav-list-item{display:inline-block;margin-right:25px;}
    .Zsp-mobile-sub-nav .Zsp-nav-link{height:50px;}
}
@media only screen and (max-width:480px){
    .Header{position:relative;}
    .Zsp-active-pub{font-size:16px;}
    .Zsp-nav-link.Zsp-nav-link-active::before,.Zsp-nav-link::before,.Zsp-nav-link:focus::before,.Zsp-nav-link:hover::before{bottom:3px;}
}
/*! CSS Used from: Embedded */
.side-drawer{position:fixed;top:0;bottom:0;right:0;width:400px;z-index:100;background-color:#fff;-webkit-box-shadow:-4px 0 25px -6px rgba(0,0,0,.25);-moz-box-shadow:-4px 0 25px -6px rgba(0,0,0,.25);box-shadow:-4px 0 25px -6px rgba(0,0,0,.25);-webkit-transition:width .5s,right .5s,-webkit-box-shadow .5s,box-shadow .5s,-moz-box-shadow .5s;transition:width .5s,right .5s,-webkit-box-shadow .5s,box-shadow .5s,-moz-box-shadow .5s;}
.side-drawer.not-visible{right:-405px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.side-drawer-overlay{position:fixed;top:0;left:0;right:0;bottom:0;opacity:.2;z-index:52;overflow:hidden;-webkit-transition:opacity .5s,z-index .5s;transition:opacity .5s,z-index .5s;}
.side-drawer-overlay.not-visible{opacity:0;z-index:-10;}
.side-drawer-content{overflow-y:scroll;height:100%;margin-top:-50px;padding-top:50px;z-index:0;}
.side-drawer .side-drawer-header{position:relative;background:#3e3f3f;height:50px;z-index:1;}
.side-drawer .side-drawer-header h1{line-height:50px;text-align:center;text-transform:uppercase;letter-spacing:1px;font-size:14px;color:#fff;color:rgba(255,255,255,.85);cursor:default;}
.side-drawer .side-drawer-header .side-drawer-close-button{position:absolute;line-height:50px;top:0;right:25px;font-size:24px;color:#fff;cursor:pointer;opacity:.5;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.side-drawer .side-drawer-header .side-drawer-close-button:hover{opacity:1;}
@media only screen and (max-width:479px){
    .side-drawer{width:320px;}
}
/*! CSS Used from: Embedded */
.notification-drawer{position:relative;height:100%;width:100%;}
/*! CSS Used from: Embedded */
.CheckboxToggleSwitch:focus{outline:0;box-shadow:0 0 3px 1px #0295FF;border-radius:20px;}
.CheckboxToggleSwitch-checkbox{display:none;}
.CheckboxToggleSwitch-checkbox+label{background-color:#E5E5E5;border-radius:18px;cursor:pointer;display:block;height:18px;min-height:18px;outline:0;padding:2px;position:relative;user-select:none;width:36px;text-indent:-99999px;overflow:hidden;text-align:left;}
.CheckboxToggleSwitch-checkbox+label::after,.CheckboxToggleSwitch-checkbox+label::before{content:"";display:block;position:absolute;}
.CheckboxToggleSwitch-checkbox+label::before{background-color:#C3C3C3;border:1px solid #E5E5E5;left:0;border-radius:18px;bottom:0;right:0;top:0;transition:background .2s;}
.CheckboxToggleSwitch-checkbox+label::after{background-color:#fff;border-radius:100%;bottom:2px;box-shadow:0 1px 2px rgba(0,0,0,.35);left:2px;transition:transform .2s ease;top:2px;width:14px;}
.CheckboxToggleSwitch-checkbox:checked+label::after{transform:translateX(18px);}
.CheckboxToggleSwitch-checkbox:checked+label::before{background-color:#1ECE8E;}
.CheckboxToggleSwitch-jumbo .CheckboxToggleSwitch-checkbox+label{height:30px;width:60px;}
.CheckboxToggleSwitch-jumbo .CheckboxToggleSwitch-checkbox+label::after{bottom:3px;left:3px;top:3px;width:24px;}
.CheckboxToggleSwitch-jumbo .CheckboxToggleSwitch-checkbox+label::before{background-color:#C3C3C3;}
.CheckboxToggleSwitch-jumbo .CheckboxToggleSwitch-checkbox:checked+label::after{transform:translateX(30px);}
.CheckboxToggleSwitch-jumbo .CheckboxToggleSwitch-checkbox:checked+label::before{background-color:#1ECE8E;}
/*! CSS Used from: Embedded */
.btn-at-primary,.btn-at-secondary,a.btn-at-primary,a.btn-at-secondary{display:inline-block;height:48px;padding:0 20px;border-radius:3px;outline:0;font-weight:300;font-size:13px;line-height:24px;letter-spacing:.5px;cursor:pointer;text-transform:uppercase;}
.btn-at-primary:focus,.btn-at-primary:hover,.btn-at-secondary:focus,.btn-at-secondary:hover{text-decoration:none;}
.btn-at-primary:active,.btn-at-secondary:active{position:relative;top:1px;bottom:-1px;box-shadow:none;}
.btn-at-primary,a.btn-at-primary{border:none;background-color:#0295FF;color:#fff;}
.btn-at-primary:hover,a.btn-at-primary:hover{background:#0088F7;color:#fff;}
.btn-at-primary:focus,a.btn-at-primary:focus{background:#0088F7;color:#fff;transform:translateY(-4px);-webkit-transform:translateY(-4px);}
.btn-at-primary:active,a.btn-at-primary:active{background:#125CB5;}
.btn-at-secondary,a.btn-at-secondary{border:1px solid #0295FF;color:#0295FF;background:0 0;}
.btn-at-secondary:hover,a.btn-at-secondary:hover{background:#0088F7;border-color:#0088F7;color:#fff;}
/*! CSS Used from: Embedded */
.btn-at-primary,.btn-at-secondary,a.btn-at-primary,a.btn-at-secondary{display:inline-block;height:48px;padding:0 20px;border-radius:3px;outline:0;font-weight:300;font-size:13px;line-height:24px;letter-spacing:.5px;cursor:pointer;text-transform:uppercase;}
.btn-at-primary:focus,.btn-at-primary:hover,.btn-at-secondary:focus,.btn-at-secondary:hover{text-decoration:none;}
.btn-at-primary:active,.btn-at-secondary:active{position:relative;top:1px;bottom:-1px;box-shadow:none;}
.btn-at-primary,a.btn-at-primary{border:none;background-color:#0295FF;color:#fff;}
.btn-at-primary:hover,a.btn-at-primary:hover{background:#0088F7;color:#fff;}
.btn-at-primary:focus,a.btn-at-primary:focus{background:#0088F7;color:#fff;transform:translateY(-4px);-webkit-transform:translateY(-4px);}
.btn-at-primary:active,a.btn-at-primary:active{background:#125CB5;}
.btn-at-secondary,a.btn-at-secondary{border:1px solid #0295FF;color:#0295FF;background:0 0;}
.btn-at-secondary:hover,a.btn-at-secondary:hover{background:#0088F7;border-color:#0088F7;color:#fff;}
.visually-hidden{position:absolute;clip:rect(1px,1px,1px,1px);padding:0;border:0;height:1px;width:1px;overflow:hidden;white-space:nowrap;}
.at-utility-page-subTitle{font-size:20px;color:#777;font-weight:300;margin:20px 0;text-align:center;}
.Tsua{max-width:890px;margin:auto;}
.Tsua-page-subTitle{width:67%;margin-bottom:35px;line-height:1.7;text-align:left;}
.Tsua-text-html-tag{display:inline-block;padding:0 9px;border-radius:9px;color:#0295FF;border:1px solid #C7E4FF;background-color:#E2F3FF;font-family:courier,monospace;}
.Tsua-hd{position:relative;}
.Tsua-code-view-toggle-container{position:absolute;right:20px;top:10px;width:180px;color:#44484B;}
.Tsua-code-view-toggle-container dl{display:flex;justify-content:space-between;align-items:center;}
.Tsua-code-view-toggle-container dd,.Tsua-code-view-toggle-container dt{font-size:16px;}
.Tsua-content,.Tsua-content p{font-size:22px;line-height:1.5;}
.Tsua-content{border:1px solid #E2E5E8;padding:60px;background:#fff;}
.Tsua-content .Tsua-header{margin:-60px -60px 60px;}
.Tsua-content h3{font-size:40px;line-height:48px;font-weight:500;}
.Tsua-content h4{font-size:30px;line-height:38px;font-weight:500;margin-bottom:35px;}
.Tsua-content h4 small{color:#ACAFAF;font-size:20px;letter-spacing:1px;}
.Tsua-platform-nav-label{font-size:16px;color:#3E3F3F;}
.Tsua-platform-nav-list{display:flex;justify-content:space-between;list-style-type:none;}
.Tsua-platform-nav-list-item{position:relative;}
.Tsua-platform-nav-list-item-active .Tsua-platform-nav-button,.Tsua-platform-nav-list-item:focus .Tsua-platform-nav-button,.Tsua-platform-nav-list-item:hover .Tsua-platform-nav-button{font-weight:700;}
.Tsua-platform-nav-list-item-active::after,.Tsua-platform-nav-list-item:focus::after,.Tsua-platform-nav-list-item:hover::after{content:'';position:absolute;bottom:0;left:0;right:0;height:4px;background:#FF6550;}
.Tsua-platform-nav-button{padding:0 0 30px;font-size:16px;text-align:center;color:#3E3F3F;background-color:transparent;border:none;transition:all .5s ease;}
.Tsua-platform-nav-button:focus,.Tsua-platform-nav-button:hover{outline:0;font-weight:700;}
.Tsua-list{counter-reset:step;list-style-type:none;}
.Tsua-list li{position:relative;padding:0 0 60px 60px;min-height:75px;border-left:2px solid #C7E4FF;color:#44484B;}
.Tsua-list li:last-child{border-left:none;}
.Tsua-list li:last-child::before{content:'\2713';}
.Tsua-list li::before{counter-increment:step;content:counters(step,".") " ";position:absolute;left:-26px;top:0;height:50px;width:50px;padding-top:11px;font-size:17px;font-weight:700;line-height:20px;text-align:center;color:#0295FF;background-color:#E2F3FF;border:2px solid #C7E4FF;border-radius:50%;z-index:2;}
.Tsua-list-text{margin-top:40px;}
.Tsua-inline-row{padding:20px 0;}
.Tsua-inline-row h4{margin:0;}
.Tsua-widget-name-title{font-size:25px;font-weight:300;color:#222;}
.Tsua-widget-name-sub-title{font-size:12px;color:#ACAFAF;letter-spacing:1px;text-transform:uppercase;line-height:10px;}
.Tsua-footer{padding:30px 0;margin-top:25px;text-align:center;}
.Tsua-footer-list{display:flex;justify-content:space-between;list-style-type:none;}
.Tsua-footer-list-item{position:relative;min-height:130px;vertical-align:top;text-align:center;background-repeat:no-repeat;}
.Tsua-footer-list-item a{display:inline-block;width:90%;line-height:25px;font-size:22px;font-weight:400;color:#222;text-decoration:none;}
.Tsua-footer-list-item a:hover{text-decoration:underline;}
.Tsua-footer-list-item a:focus{filter:grayscale(100%);-webkit-filter:grayscale(100%);}
.Tsua-footer-list-item:not(:last-child){border-right:2px solid #E2F3FF;}
.Tsua-footer-icon{display:block;width:45px;height:55px;margin:0 auto 30px;background-size:100% auto;background-repeat:no-repeat;transition:all .2s ease;}
a:focus .Tsua-footer-icon,a:hover .Tsua-footer-icon{outline:0;-webkit-transform:scale(1.05);-ms-transform:scale(1.05);transform:scale(1.05);}
.Tsua-icon-copycode{background-image:url(img/copyimg.png);}
.InstallInstructions__footer-card{margin:3rem 0;}
.InstallInstructions__footer-card h5:first-of-type{margin-bottom:0;}
.InstallInstructions__footer-card h5:last-of-type{margin-bottom:1rem;}
.InstallInstructions__footer-card-image{display:block;height:2rem;margin:0 auto;}
.InstallInstructions__footer-card-button:link,.InstallInstructions__footer-card-button:visited{height:2.5em;margin:2em;line-height:2.5em;}
.InstallInstructions__footer-card-cta:link,.InstallInstructions__footer-card-cta:visited{height:3.5em;line-height:3.5em;}
.InstallInstructions__footer-card-list{display:flex;flex-wrap:wrap;justify-content:space-around;list-style-type:none;margin:3rem 0;}
div .InstallInstructions__footer-card-subheader{font-size:1rem;padding:0 6rem;}
div .InstallInstructions__footer-card-subheader:first-of-type{margin-bottom:0;}
.Tsua-CodeBlock{position:relative;}
.Tsua-CodeBlock-code{display:flex;align-items:center;position:relative;min-height:100px;width:100%;padding:25px 90px 25px 30px;margin-bottom:20px;overflow:hidden;font-family:courier,monospace;font-size:15px;line-height:23px;word-wrap:break-word;white-space:normal;background-color:#E2F3FF;color:#44484B;border:1px solid #C7E4FF;border-radius:8px;}
.Tsua-CodeBlock-code:focus{outline:0;box-shadow:0 0 0 1px #0295FF;}
.Tsua-CodeBlock-code-textarea{height:1px;width:1px;border:none;background-color:transparent;color:transparent;resize:none;position:absolute;left:-99999px;top:0;}
.Tsua-CodeBlock-code-textarea:focus{outline:0;}
.Tsua-CodeBlock-copy-btn{position:absolute;right:15px;top:calc(50% - 25px);width:50px;height:50px;border:none;background-size:100%;background-repeat:no-repeat;background-color:transparent;transition:all .2s ease;}
.Tsua-CodeBlock-copy-btn:focus,.Tsua-CodeBlock-copy-btn:hover{position:absolute;right:15px;top:calc(50% - 27px);outline:0;filter:hue-rotate(155deg);-webkit-filter:hue-rotate(155deg);}
.Tsua-header{position:relative;height:375px;padding:63px 0 0 20px;margin-bottom:75px;background:linear-gradient(-149deg,#1E1F44 15%,#0673D4 83%,#0088F7 100%);background-color:#fff;}
.Tsua-Zsp-curve-svg{position:absolute;bottom:-14px;left:0;}
.Tsua-Zsp-curve-svg path{fill:#fff;stroke:none;}
.Tsua-Zsp-title{width:33%;margin:0;color:#fff;}
.Tsua-Zsp-sub-title{color:#fff;font-size:16px;}
.Tsua-play-video-btn{margin-top:10px;padding:0 16px 0 25px;border-radius:25px;border:none;font-size:15px;background-color:#fff;}
.Tsua-play-video-btn-text{display:table-cell;height:45px;padding-right:10px;vertical-align:middle;border-right:1px solid #ccc;font-size:16px;}
.Tsua-play-video-btn-arrow{position:relative;display:table-cell;width:25px;}
.Tsua-play-video-btn-arrow svg{position:absolute;left:12px;top:12px;}
.Tsua-Zsp-video{position:absolute;right:20px;top:95px;width:550px;height:310px;border-radius:8px;background-image:url(img/20191026211641.png);background-color:transparent;background-size:100%;background-repeat:no-repeat;z-index:2;box-shadow:10px 39px 146px -45px rgba(0,0,0,.1);cursor:pointer;}
.Tsua-code{margin-bottom:40px;padding:20px;background:linear-gradient(45deg,#202143 0,#303261 100%);color:#AAACD8;font-family:courier,monospace;font-size:16px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border-radius:10px;overflow:auto;white-space:nowrap;}
.Tsua-code-text{display:inline;color:#AAACD8;}
.Tsua-code-line{display:block;}
.Tsua-code-level1{margin-left:0;}
.Tsua-code-level2{margin-left:20px;}
.Tsua-code-level3{margin-left:40px;}
.Tsua-code-level4{margin-left:60px;}
.Tsua-code-arrow{position:relative;display:table-cell;height:32px;padding:0 15px;margin:10px 0 10px 13px;vertical-align:middle;color:#fff;background-color:#FF6550;}
.Tsua-code-arrow::before{position:absolute;right:100%;top:0;height:0;width:0;content:" ";border:solid transparent;border-width:16px;border-right-color:#FF6550;}
@media only screen and (max-width:780px){
    .Tsua-content{padding:60px 30px 30px;}
    .Tsua-content .Tsua-header{margin:-60px -30px 60px;}
    .Tsua-list{margin-left:25px;}
}
@media only screen and (max-width:678px){
    .Tsua-platform-nav-button{font-size:20px;padding:8px;}
    .Tsua-platform-nav-list{display:block;margin-bottom:10px;text-align:center;}
    .Tsua-platform-nav-list-item{display:inline-block;}
    .Tsua-platform-nav-list-item-active,.Tsua-platform-nav-list-item:focus,.Tsua-platform-nav-list-item:hover{border-radius:8px;background-color:#E2F3FF;}
    .Tsua-platform-nav-list-item-active::after,.Tsua-platform-nav-list-item:focus::after,.Tsua-platform-nav-list-item:hover::after{display:none;}
}
@media only screen and (max-width:480px){
    .Tsua-code-view-toggle-container,.Tsua-Zsp-sub-title{display:none;}
    .Tsua-page-subTitle{width:100%;}
    .Tsua-CodeBlock-code{min-height:200px;padding:25px 30px;word-break:break-word;}
    .Tsua-header{padding-top:20px;padding-left:10px;text-align:center;}
    .Tsua-content h3{width:100%;margin-bottom:20px;font-size:32px;line-height:40px;}
    .Tsua-Zsp-video{top:215px;width:315px;height:178px;}
    .Tsua-list li{padding-left:40px;}
    .Tsua-CodeBlock-copy-btn{display:none;}
}

@font-face{font-family:'Glyphicons Halflings';url(font/glyphicons-halflings-regular.woff) format('woff') format('truetype')}
@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:400;src:local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(font/fontwzlm.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:700;src:local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(font/fonttsua.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}

@media screen{
    a{background:0 0;}
    a:active,a:hover{outline:0;}
    @media print{
        *{color:#000!important;text-shadow:none!important;background:0 0!important;box-shadow:none!important;}
        a,a:visited{text-decoration:underline;}
        a[href]:after{content:" (" attr(href) ")";}
    }
    *,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
    a{color:#428bca;text-decoration:none;}
    a:focus,a:hover{color:#2a6496;text-decoration:underline;}
    a:focus{outline:#333 dotted thin;outline:-webkit-focus-ring-color auto 5px;outline-offset:-2px;}
    ul ul{margin-bottom:0;}
    ul{margin-top:0;margin-bottom:10px;}
}
@media screen{
    div,li,span,ul{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline;}
    a:link,a:visited{text-decoration:none;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;transition:all .2s ease;outline:0;color:#359af9;}
    a:hover{text-decoration:underline;}
    a{color:#0295ff;}
    a:hover{color:#0780df;}
}
/*! CSS Used from: Embedded */
.Zsp-A11yMenu{position:absolute;top:54px;min-width:260px;max-height:90vh;z-index:400;overflow-x:hidden;overflow-y:auto;margin-top:6px;padding:0;text-decoration:none;font-weight:500;color:#232323;box-shadow:1px 1px 10px #aaa;background-color:#fff;}
.Zsp-A11yMenu-end{right:-15px;}
.Zsp-A11yMenuItem{display:block;width:100%;max-width:260px;overflow:hidden;text-overflow:ellipsis;padding:0 10px;font-size:18px;line-height:48px;text-decoration:none;color:#3E3F3F;}
.Zsp-A11yMenuItem:link,.Zsp-A11yMenuItem:visited{color:#3E3F3F;}
.Zsp-A11yMenuItem:focus,.Zsp-A11yMenuItem:hover{background-color:#f5f5f5;text-decoration:none;}
.Zsp-A11yMenuItem-container{display:block;}
.Zsp-A11yMenuItem.Zsp-A11yMenuItem-header{display:flex;align-items:center;justify-content:space-between;overflow:hidden;font-weight:600;font-size:16px;line-height:40px;white-space:nowrap;background-color:#f5f5f5;}
.Zsp-A11yMenuItem.Zsp-A11yMenuItem-account{justify-content:flex-start;}
.Zsp-A11yMenuItem-Zsp-user{overflow:hidden;max-width:75%;margin-left:5px;text-overflow:ellipsis;font-weight:500;}
